
* {
  margin: 0;
  padding: 0;
}
#navbar_2 {
  /* border: 1px solid red; */
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.first{
  width: 45%;
  /* height: 60px; */
  /* border: 1px solid rgb(39, 56, 14); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.second{
  width: 30%;
  /* height: 60px; */
  /* border: 1px solid rgb(39, 56, 14); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.second>button{
  width: 40%;
  height: 35px;
  font-size: medium;
  color: white;
  background-color: orangered;
  border: 0px;
  border-radius: 5px;
}
.image{
  /* border: 1px solid blue; */
  width: 20%;
  /* height: 40px; */
}
.image>img{
  width: 100%;
}
.texts{
  /* border: 1px solid blue; */
  width: 50%;
  /* height: 40px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.texts>p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

